<h3>Clientes activos: @ViewBag.clientsActive   Clientes inactivos: @ViewBag.clientsDisabled;</h3>
<br />
<h3>Agentes activos: @ViewBag.AgentsActive   Agentes inactivos: @ViewBag.AgentsDisabled;</h3>
<br />
<h3>Desarrolladores activos: @ViewBag.devsActive   Desarrolladores inactivos: @ViewBag.devsDisabled;</h3>
<br />
<h3>Propiedades registradas: @ViewBag.propertiesActive</h3>