﻿﻿@using RealStateAppProg3.Core.Application.ViewModels;
@using RealStateAppProg3.Core.Application.ViewModels.Users;
@model SaveUserViewModel;
@{
    bool isEditing = (Model.Id != null) ? true : false;
    bool isForAdmin = ViewBag.IsFor == "admin" ? true : false;
}
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="@(isEditing?"UpdateAdminUser":"SaveAdminUser")">

                                    <h2 class="fw-bold mb-2 text-uppercase">Registro de usuario @(isForAdmin?"administrador":"desarrollador"):</h2>
                                    <p class="text-white-50 mb-5">Completa:</p>

                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    @{
                                        bool error = Model.HasError ?? false;
                                    }
                                    @if (error)
                                    {
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <p>@Model.Error</p>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    }
                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="Name" type="text" class="form-control form-control-lg" />
                                        <label asp-for="Name" class="form-label">Nombre</label>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="LastName" type="text" class="form-control form-control-lg" />
                                        <label asp-for="LastName" class="form-label">Apellido</label>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="PhoneNumber" type="tel" class="form-control form-control-lg" />
                                        <label asp-for="PhoneNumber" class="form-label">Numero de telefono</label>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="Identification" type="tel" class="form-control form-control-lg" />
                                        <label asp-for="Identification" class="form-label">Cedula</label>
                                        <span asp-validation-for="Identification" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="file" type="file" class="form-control form-control-lg" />
                                        <label asp-for="file" class="form-label">Foto de perfil</label>
                                        <span asp-validation-for="file" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="Username" type="text" class="form-control form-control-lg" />
                                        <label asp-for="Username" class="form-label">Usuario</label>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="Email" type="Email" class="form-control form-control-lg" />
                                        <label asp-for="Email" class="form-label">Correo</label>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="Password" type="password" class="form-control form-control-lg" />
                                        <label asp-for="Password" class="form-label">Contraseña</label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" />
                                        <label asp-for="ConfirmPassword" class="form-label">Confimar Contraseña</label>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <input type="hidden" asp-for="TypeUser" value="@(isForAdmin?"Admin":"Developer")"/>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-asp-for="IsActive"/>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">@(isEditing?"Actualizar":"Registrar")</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>