@using RealStateAppProg3.Core.Application.ViewModels.Users;
@model List<SaveUserViewModel>

@{
    ViewData["Title"] = "Agentes Inmobiliarios";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Nuestros Agentes Inmobiliarios</h1>
    <div class="row mb-4">
        <div class="col-md-6">
            <form action="@Url.Action("FilterName", "Home")" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="Name" placeholder="Buscar por Nombre" aria-label="Buscar por Nombre" aria-describedby="search-code">
                    <button class="btn btn-primary" type="submit" id="search-name"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var agent in Model.OrderByDescending(a => a.Name))
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="@agent.PhotoProfileUrl" class="card-img-top" alt="Foto de @agent.Name" style="max-height: 300px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">@agent.Name</h5>
                        <a asp-controller="Home" asp-action="AgenteProperty" asp-route-id="@agent.Id" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <style>
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    </style>
}
