@using RealStateAppProg3.Core.Application.ViewModels.Propertys;
@using RealStateAppProg3.Core.Application.ViewModels.TypeProperty;
@model List<PropertyViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="my-4 text-center text-primary">
        <i class="fas fa-home me-2"></i>Propiedades
    </h2>
    @{
        //Filtros
    }
    <div class="row mb-4">
        <div class="col-md-6">
            <form action="@Url.Action("FilterCode", "Home")" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="codigo" placeholder="Buscar por código" aria-label="Buscar por código" aria-describedby="search-code">
                    <button class="btn btn-primary" type="submit" id="search-code"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form action="@Url.Action("Filters", "Home")" method="get">
                <div class="row g-3">
                    <div class="col-md-4">
                        <select class="form-select" aria-label="Tipo de propiedad" name="typePropertyId">
                            <option value="">Tipo de propiedad</option>
                            @foreach (var TP in ViewBag.Tp)
                            {
                                <option value="@TP.Id">@TP.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            <input type="number" class="form-control" placeholder="Precio mínimo" aria-label="Precio mínimo" name="minPrice">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            <input type="number" class="form-control" placeholder="Precio máximo" aria-label="Precio máximo" name="maxPrice">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-bed"></i></span>
                            <input type="number" class="form-control" placeholder="Habitaciones" aria-label="Habitaciones" name="rooms">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-bath"></i></span>
                            <input type="number" class="form-control" placeholder="Baños" aria-label="Baños" name="bathrooms">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-filter"></i> Filtrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var property in Model.OrderByDescending(p => p.Created))
        {
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="image-container">
                        <img class="card-img-top img-fluid" src="@property.UrlImage1" alt="@property.Code">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-building me-2"></i>@property.TypeProperty
                        </h5>
                        <p class="card-text">
                            <i class="fas fa-key me-2"></i><span class="fw-bold">Código:</span> @property.Code
                        </p>
                        <p class="card-text">
                            <i class="fas fa-tag me-2"></i><span class="fw-bold">Tipo de Venta:</span> @property.TypeSale
                        </p>
                        <p class="card-text">
                            <i class="fas fa-dollar-sign me-2"></i><span class="fw-bold">Valor:</span> @property.Value.ToString("C")
                        </p>
                        <p class="card-text">
                            <i class="fas fa-bed me-2"></i><span class="fw-bold">Habitaciones:</span> @property.NumberRooms
                        </p>
                        <p class="card-text">
                            <i class="fas fa-bath me-2"></i><span class="fw-bold">Baños:</span> @property.Bathrooms
                        </p>
                        <p class="card-text">
                            <i class="fas fa-ruler-combined me-2"></i><span class="fw-bold">Área:</span> @property.SizeInMeters m²
                        </p>
                        <a asp-controller="Home" asp-action="PropertyDetails" asp-route-id="@property.Code" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <style>
        .image-container {
            height: 200px; /* Ajusta la altura según tus necesidades */
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .image-container img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
    </style>
}