@using RealStateAppProg3.Core.Application.ViewModels.Propertys;
@model List<PropertyViewModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2 class="my-4 text-center">Home</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var property in Model.OrderByDescending(p => p.Created))
        {
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="@property.UrlImage1" alt="@property.Code">
                    <div class="card-body">
                        <h5 class="card-title">@property.TypeProperty</h5>
                        <p class="card-text">
                            <span class="fw-bold">Código:</span> @property.Code
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Tipo de Venta:</span> @property.TypeSale
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Valor:</span> @property.Value.ToString("C")
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Habitaciones:</span> @property.NumberRooms
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Baños:</span> @property.Bathrooms
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Área:</span> @property.SizeInMeters m²
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>